<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="wallpaper"></div>
        <div class="content">
            <aside class="side">
                <figure class="picture">
                    <div class="picture-shadow"></div>
                    <img
                        id="pictureImage"
                        src="images/me.jpg"
                        alt="Akash singh's image"
                        class="picture-image"
                        srcset="images/me - Copy.jpg,
                                images/me - Copy(2).jpg,
                                images/me - Copy(3).jpg"
                        height="320">
                </figure>
            </aside>
            <main class="about">
                <h1 class="name">
                    Hi, I'm Akash Singh
                </h1>
                <p class="job">
                    Currently Unemployed and Available for job
                </p>
                <hr class="hr">
                <div class="description">
                    <p>
                        I love designing new websites modeling them with new styles and animation,
                        learn about new things around the world with new web designs and boost
                        my career in the field of front end web development
                    </p>
                </div>
                <div class="contact">
                    <a href="mailto:akashsingh1041997@gmail.com" class="button">
                        Get in touch
                    </a>
                </div>
            </main>
        </div>
    </body>
</html>