html{
  all:unset;
  margin:0px;
  padding:0px;
  background-color: #5f45bb;
  background-image:linear-gradient(to bottom right, #180cac, #d054e4);
  color: #fff;
  font-family:sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x:hidden;
  text-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.content{
  display: flex;
  position:relative;
  min-height: 100vh;
}

.side{
  max-height: 20rem;
  max-width: 20rem;
}

.about{
    max-width: 26rem;
}

a{
  color: currentColor;
  cursor:pointer;
  text-decoration:none;
}

.wallpaper{
  display:block;
  height:100%;
  left:0;
  top:0;
  width:100%;
}

.wallpaper{
  background-image: url('../images/mountains.jpg');
  background-position:center;
  background-size:cover;
  opacity: 0.3;
  position: fixed;
}

@media screen and (max-width:799px){
  .content{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:5rem 3rem;
  }

  .side{
    margin-bottom: 2rem;
    width:100%;
  }
}

@media screen and (min-width:800px){
  .content{
    align-items:center;
    justify-content:space-around;
    justify-content: space-evenly;
    padding:4rem;
  }

  .side{
    flex-grow:0;
    flex-shrink:0;
    height:20rem;
    margin-left:4rem;
    order:2;
    width:20rem;
  }

  .about{
    flex-grow:1;
    flex-shrink:1;
  }
}